#Comments in Python

In [13]:
#print(this is a comment)
print(" Comment statement can not run or executeable")

 Comment statement can not run or executeable

#Input & Output

In [14]:
text = input("plz enter your name")
print(text)

abdulrehman

#Multiple statements on a single line

In [15]:
print("abdulrehman");print("abbas");print("ali")

abdulrehman
abbas
ali

#Indentation

In [76]:

'''
x==0
x = "my name is abdulrehman abbas"
if x == 0
print(x)
'''

x=0
if x == 0:
 print(x)

0

#Use of Single and Tab Indentation

In [77]:
x=1
if x>0:
    print("we use FOUR SPACES for indentation")
if x<0:
  print("we use a TAB for our indentation")

we use FOUR SPACES for indentation

#Type Checking

In [78]:
#use type function
x = 9.00
print(type(x))

<class 'float'>

In [79]:
x = 9
print(type(x))

<class 'int'>

In [80]:
x = "sharif"
print(type(x))

<class 'str'>

In [81]:
x = str(9.00)
print(type(x))

<class 'str'>

In [82]:
#Boolean Class
x = False
print(type(x))

<class 'bool'>

#Special Chrachters in Python String

In [92]:
print("Abdulrehman s/o Abbas  (\\)  s/o Rehmat ali")
print("Abdulrehman s/o Abbas  \t  s/o Rehmat ali")

Abdulrehman s/o Abbas  (\)  s/o Rehmat ali
Abdulrehman s/o Abbas  	  s/o Rehmat ali

#List slicing  & indices

In [95]:
list = ["Abdulrehman","Rehan","Ahmad","Hashim","Umer","Huzaifa","Haroon"]
print(list[1:5])
print(list[-1])
print(list[2:])
print(list[:5])
print(list[1:5:2])
print(list[::2])
print(list[::-1])
print(list[-1::-1])
print(list[-1:-6:-1])
print(list[-6:-1])
print(list[2:5])

['Rehan', 'Ahmad', 'Hashim', 'Umer']
Haroon
['Ahmad', 'Hashim', 'Umer', 'Huzaifa', 'Haroon']
['Abdulrehman', 'Rehan', 'Ahmad', 'Hashim', 'Umer']
['Rehan', 'Hashim']
['Abdulrehman', 'Ahmad', 'Umer', 'Haroon']
['Haroon', 'Huzaifa', 'Umer', 'Hashim', 'Ahmad', 'Rehan', 'Abdulrehman']
['Haroon', 'Huzaifa', 'Umer', 'Hashim', 'Ahmad', 'Rehan', 'Abdulrehman']
['Haroon', 'Huzaifa', 'Umer', 'Hashim', 'Ahmad']
['Rehan', 'Ahmad', 'Hashim', 'Umer', 'Huzaifa']
['Ahmad', 'Hashim', 'Umer']

In [96]:
#MOVE ONTO NEXT LAB (SECOND)